
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu-left">
                <div class="option_admin">
                    <div class="option_admin_title">
                        <span>Tùy chọn</span>
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="option_admin_manage option_select option_selected">
                        <i class="bi bi-person-circle"></i>
                        <a href="/manage">Quản lí khách hàng</a>

                    </div>
                    <div class="option_admin_comment option_select">
                        <i class="bi bi-chat-dots"></i>
                        <a href="/manage/feedback">Feedback</a>
                    </div>
                    <div class="option_admin_comment option_select">
                        <i class="bi bi-exclamation-circle"></i>
                        <a href="/manage/note">Chú ý</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-9 menu-right">
                <div class="admin_detail" >
                    <div class="admin_detail_title">
                        Thông tin khách hàng
                    </div>
                    <div class="admin_detail_content" style="margin-left: 20px;margin-top: 20px;">
                        <div class="admin_detail_content_user">
                            <h5 style="color: blue;">User infomation</h5>
                            <h6>- Name: <span style="font-weight: 400;">{{user.name}}</span></h6>
                            <h6>- Email: <span style="font-weight: 400;">{{user.email}}</span></h6>
                            <h6>- Permission <span style="font-weight: 400;">{{user.permission}}</span></h6>
                            <h6>- Address <span style="font-weight: 400;">{{user.address}}</span></h6>
                            <h6>- Phone <span style="font-weight: 400;">{{user.phonenumber}}</span></h6>
                        </div>
                        <div class="admin_detail_content_order">
                            <h5 style="color: blue;">Đơn hàng</h5>
                            <h6>- Dish:
                                {{#each order.dishName}}
                                <span style="font-weight: 400;">{{this}}-</span>
                                {{/each}}
                            </h6>
                            <h6>- Total Cost: <span style="font-weight: 400;">{{order.totalCost}}</span></h6>
                            <h6>- Feedback: <span style="font-weight: 400;">{{order.feedback}}</span></h6>
                            <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- DELETE Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa không?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="delete-confirm">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT MODAL -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form_event" method="POST" class="was-validated">
                            <div class="form-group">
                                <label for="Name_Product">Name</label>
                                <input type="text" class="form-control" id="Name_Product" name="name" required>

                            </div>
                            <div class="form-group">
                                <label for="Type_Product">Image</label>
                                <input type="text" class="form-control" id="Type_Product" name="image" required>
                            </div>
                            <div class="form-group">
                                <label for="Price_Product">Permission</label>
                                <input type="text" class="form-control" id="Price_Product" name="permission" required>
                            </div>
                            <div class="form-group">
                                <label for="Quantity_Product">Email</label>
                                <input type="text" class="form-control" id="Quantity_Product" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="Detail_Product">Address</label>
                                <input type="text" class="form-control" id="Detail_Product" name="address" required>
                            </div>
                            <div class="form-group">
                                <label for="Rating_Product">Phone</label>
                                <input type="text" class="form-control" id="Rating_Product" name="phone" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_form_event">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <form method="POST" id="form_delete"></form>
        <script>
            //show detail
            document.addEventListener('DOMContentLoaded', (event) => {

                // delete event
                var productId;
                $('#exampleModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    productId = button.data('id');
                })

                var getEditRow = Array.from(document.querySelectorAll('#delete-confirm'));
                getEditRow.forEach(ele => {
                    ele.addEventListener('click', () => {
                        var form_delete = document.getElementById('form_delete');
                        form_delete.action = `./manage/delete/${productId}`;
                        form_delete.submit();
                    })
                })

                //Edit event
                $('#exampleModalScrollable').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    productId = button.data('id');
                })
                var arr_value;
                var getRowsEdit = Array.from(document.querySelectorAll('.edit-product'));
                getRowsEdit.forEach(ele => {
                    ele.addEventListener('click', () => {
                        var dataId = ele.getAttribute('data-id');
                        arr_value = dataId.split('--');
                        document.getElementById('Name_Product').value = arr_value[0];
                        document.getElementById('Type_Product').value = arr_value[1];
                        document.getElementById('Price_Product').value = arr_value[2];
                        document.getElementById('Quantity_Product').value = arr_value[3];
                        document.getElementById('Detail_Product').value = arr_value[4];
                        document.getElementById('Rating_Product').value = arr_value[5];

                    })
                })
                document.getElementById('button_form_event').addEventListener('click', () => {
                    var form_event = document.getElementById('form_event');
                    form_event.action = `./manage/${arr_value[5]}`;
                    if (document.getElementById('Name_Product').value && document.getElementById('Type_Product') && document.getElementById('Price_Product').value && document.getElementById('Quantity_Product').value && document.getElementById('Detail_Product').value && document.getElementById('Rating_Product').value)
                        form_event.submit();
                })


            });
        </script>
