{{!-- Search result --}}
    <h1 class="header-title">Kết quả tìm kiếm: </h1>
    <h1></h1>
    <section class="category-wrapper">
    <div class="category">
    {{#each dishes}}
        <div class="category-item">
            <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
            <img class="category-item-image" src="/images/{{this.image}}" alt="">
            <h1 class="category-item-title">{{this.name}}</h1>
            <p class="category-item-detail">{{this.description}}</p>
            <p>Giá chỉ từ:</p>
            <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
        </div>
    {{/each}}
    </div>
    
    <style>
        .header-title {
            margin-left: 40px;
        }
    </style>
    