{{!-- Search result --}}
<div class="body-wrapper">
    {{#if dishes}}
    <h1 class="header-title">Kết quả tìm kiếm: </h1>
    {{else}}
    <h1 class="header-title">Không tìm thấy bất kỳ kết quả nào!</h1>
    {{/if}}
    <h1></h1>
    <section class="category-wrapper">
    <div class="category">
    {{#each dishes}}
        <div class="category-item">
            <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
            <img class="category-item-image" src="{{imageload this.image this.imageType}}" alt="">
            <h1 class="category-item-title">{{this.name}}</h1>
            <p class="category-item-detail">{{this.description}}</p>
            <p>Giá chỉ từ:</p>
            <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
        </div>
    {{/each}}
    </div>
</div>
    <style>
        body {
            background-image: url('https://scontent.fdad3-5.fna.fbcdn.net/v/t1.15752-9/263308147_226786419596723_8635624285869140156_n.png?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=mM-rumu8TkUAX9HIo32&_nc_ht=scontent.fdad3-5.fna&oh=58eb3fa6072203187fc7ffdf5c53bc91&oe=61CF522A');
            background-repeat: repeat;
        }
        .header-title {
            margin-left: 60px;
        }
        .body-wrapper {
            min-height: 260px;
        }
    </style>
    