<section id = "Slider">
    <div class="aspect-ratio-169" style="left: 0%;">
        {{!-- <img src="https://www.pizzaexpress.vn/wp-content/uploads/2021/09/Banner-Pizza-Web-18-9-2021.png" alt="">
        <img src="https://www.pizzaexpress.vn/wp-admin/admin-ajax.php?action=kc_get_thumbn&type=filter_url&id=%2Fwp-content%2Fuploads%2F2020%2F12%2FGiam20-muabanhvami.jpg" alt="">
        <img src="https://www.pizzaexpress.vn/wp-content/uploads/2020/12/test.jpg" alt="">
        <img src="https://www.pizzaexpress.vn/wp-content/uploads/2020/12/Artboard-4-1.jpg" alt=""> --}}
        <img src="https://scontent.fdad3-5.fna.fbcdn.net/v/t1.15752-9/260343741_615427273033927_2710528017987165358_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=BrU2PM1NICEAX9vqTnV&_nc_ht=scontent.fdad3-5.fna&oh=4a3b07e71b9fe8808d6c1182a2583061&oe=61C6C477" alt="">
        <img src="https://scontent.fdad3-5.fna.fbcdn.net/v/t1.15752-9/p1080x2048/256092776_1200582837136472_8081306400326395275_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=JjwxQ1rR6jgAX8yd6Ip&_nc_oc=AQlPfMIQp0k4zbZ7mhMzpZnnbd9K1G-cHM_9jTj77tzVqHKeTiJOrSEnsbq1IA9nP1o&tn=TVm1V8je55LnSrng&_nc_ht=scontent.fdad3-5.fna&oh=522eedfee699a46f475697a422f296a1&oe=61C9686F" alt="">
        <img src="https://scontent.fdad3-4.fna.fbcdn.net/v/t1.15752-9/261181908_632625114440334_8958874708047470217_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_ohc=rTUNR9RQok4AX8xXQu4&_nc_ht=scontent.fdad3-4.fna&oh=287df381d1f5739d87b8ceb62e2e2424&oe=61C8DABD" alt="">
        <img src="https://s3.amazonaws.com/pizza-delight-cdn/upload/PD-Homepage-Hero.jpg" alt="">
        
    </div>
    <div class="dot-container">
        <div class="dot Active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</section>

{{!-- Search bar --}}
<form id="search-bar" method="post" action="/">
    <input type="search" id="search-input" name="searchBar" placeholder="Tìm kiếm..." required>
    <button><i class="fa fa-search"></i></button>
</form>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        background-image: url('https://pepperonis.com.vn/bg-all.aee0155aaac5cc9f712b.jpg');
        background-repeat: repeat;
    }
    #search-bar {
        float: right;
        margin-right: 95px;
    }
    #search-input {
        border: none;
        border-radius: 5px;
        width: 350px;
        height: 35px;
        box-shadow: 0px 0px 7px rgb(255, 72, 0);
        padding-left: 10px;
    }
    #search-bar button {
        border: none;
        background-color: white;
        height: 50px;
        width: 30px;
        cursor: pointer;
        color: rgb(255, 72, 0);
        font-size: 23px;
    }

</style>
{{!-- Menu mon --}}
<section class="category-wrapper">
        <h2 class="real-title">Thực đơn</h2>
        <h3 class="list-title" id="pizza-list-view">Pizza</h3>
        <div class="category">
        {{#each dishes}}
        {{#if_eq this.type 'Pizza'}}
            <div class="category-item">
                <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
                <img class="category-item-image" src="{{imageload this.image this.imageType}}" alt="">
                <h1 class="category-item-title">{{this.name}}</h1>
                <p class="category-item-detail">{{this.description}}</p>
                <p>Giá chỉ từ:</p>
                <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
            </div>
        {{/if_eq}}
        {{/each}}
        </div>
        
        <h3 class="list-title" id="khaivi-list-view">Khai vị</h3>
        <div class="category">
        {{#each dishes}}
        {{#if_eq this.type  'Khai vị'}}
            <div class="category-item">
                <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
                <img class="category-item-image" src="{{imageload this.image this.imageType}}" alt="">
                <h1 class="category-item-title">{{this.name}}</h1>
                <p class="category-item-detail">{{this.description}}</p>
                <p>Giá chỉ từ:</p>
                <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
            </div>
        {{/if_eq}}
        {{/each}}
        </div>

        <h3 class="list-title" id="myy-list-view">Mỳ Ý</h3>
        <div class="category">
        {{#each dishes}}
        {{#if_eq this.type  'Mỳ Ý'}}
            <div class="category-item">
                <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
                <img class="category-item-image" src="{{imageload this.image this.imageType}}" alt="">
                <h1 class="category-item-title">{{this.name}}</h1>
                <p class="category-item-detail">{{this.description}}</p>
                <p>Giá chỉ từ:</p>
                <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
            </div>
        {{/if_eq}}
        {{/each}}
        </div>

        <h3 class="list-title" id="salad-list-view">Salad</h3>
        <div class="category">
        {{#each dishes}}
        {{#if_eq this.type  'Salad'}}
            <div class="category-item">
                <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
                <img class="category-item-image" src="{{imageload this.image this.imageType}}" alt="">
                <h1 class="category-item-title">{{this.name}}</h1>
                <p class="category-item-detail">{{this.description}}</p>
                <p>Giá chỉ từ:</p>
                <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
            </div>
        {{/if_eq}}
        {{/each}}
        </div>

        <h3 class="list-title" id="trangmieng-list-view">Tráng miệng</h3>
        <div class="category">
        {{#each dishes}}
        {{#if_eq this.type  'Tráng miệng'}}
            <div class="category-item">
                <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
                <img class="category-item-image" src="{{imageload this.image this.imageType}}" alt="">
                <h1 class="category-item-title">{{this.name}}</h1>
                <p class="category-item-detail">{{this.description}}</p>
                <p>Giá chỉ từ:</p>
                <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
            </div>
        {{/if_eq}}
        {{/each}}
        </div>

        <h3 class="list-title" id="thucuong-list-view">Thức uống</h3>
        <div class="category">
        {{#each dishes}}
        {{#if_eq this.type  'Thức uống'}}
            <div class="category-item">
                <input type="hidden" class="category-item-id" value="{{this._id}}" name="id">
                <img class="category-item-image" src="{{imageload this.image this.imageType}}" alt="">
                <h1 class="category-item-title">{{this.name}}</h1>
                <p class="category-item-detail">{{this.description}}</p>
                <p>Giá chỉ từ:</p>
                <p><b class="category-item-price">{{this.price}}đ</b>&nbsp;&nbsp;&nbsp;&nbsp;<button class="category-item-button" type="button">Mua ngay</button></p>
            </div>
        {{/if_eq}}
        {{/each}}
        </div>

        {{!-- <!-- Cart test -->
        <section class="container content-section">
            <div id="cartshow" onmouseover="show_cart()" onmouseleave="close_cart()" style="display: none;">
                <h2 class="section-header">Giỏ hàng</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sản phẩm</span>
                    <span class="cart-price cart-header cart-column">Giá</span>
                    <span class="cart-quantity cart-header cart-column">Số lượng</span>
                </div>
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Tổng cộng:</strong>
                    <span class="cart-total-price">0đ</span>
                </div>
                <button class="btn btn-primary btn-purchase" type="button">Thanh toán ngay</button>
            </div>
        </section>
        <!-- End cart test --> --}}
</section>

<script>
    var realPriceArr = document.getElementsByClassName('category-item-price');
    for (var i = 0; i < realPriceArr.length; i++) {
        realPriceArr[i].innerHTML = realPriceArr[i].innerHTML.replace('đ', '').replace('.', '').toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".") + 'đ'
    }
</script>